
<article class="blog-post px-3 py-5 p-md-5">
    <div class="container">
        <header class="blog-post-header">
            <h2 class="title mb-2">{{metadata.title}}</h2>
            <div class="meta mb-3"><span class="date">{{dateString}}</span></div>
        </header>
        
        <div class="blog-post-body">

            {{{renderedContent}}}
            
        </div>

        {{#if hasNav}}
        <nav class="blog-nav nav nav-justified my-5">
            {{#if hasSuccessor}}
            <a class="nav-link-prev nav-item nav-link rounded-left" href="{{prevPost}}">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
            {{/if}}
            
            {{#if hasPredecessor}}
            <a class="nav-link-next nav-item nav-link rounded-right" href="{{nextPost}}">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
            {{/if}}
        </nav>
        {{/if}}
        
        
    </div><!--//container-->
</article>
